.App {
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.proj-img {
  width: 305px;
  height: 165px;
  object-fit: cover;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: right;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
  padding: 5px;
  width: 100%;
  height: 50px;
  border-top: solid;
  border-color: lightgrey;
  background-color: #f1f1f1;
  border-width: 1px;
}

.github, .linkedin, .email {
  width: auto;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.headshot {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}