:root {
  --green: rgb(69, 193, 120);
  --blue: rgb(51, 101, 239);
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.App {
  text-align: center;
  background-color: #f1f1f1;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.headshot {
  width: 185px;
  height: 205px;
  object-fit: cover;
  border-radius: 25px;
  margin: auto;
}


.links {
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 40px;
  margin: 10px;
}

.link:hover {
  background-color: var(--green);
  border-radius: 5px;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 150px;
  height: 30px;
  padding: 10px;
  margin: 15px;
  background-color: var(--blue);
  color: white;
  text-decoration: none;
  border-radius: 15px;
}

.resume:hover {
  color: var(--blue);
  background-color: white;
  border: solid;
  border-width: 0.5px;
  border-radius: 15px;
  border-color: var(--green);
}

.about {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio {
  border: solid;
  border-radius: 15px;
  border-color: lightgrey;
  padding: 20px;
  font-size: 20px;
  background-color: white;
  border-width: 0.5px;
}

.bio:hover {
  border-color: var(--green);
  color: var(--blue);
  border-width: 1px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 95%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  max-width: 45%;
  height: auto;
  margin: 10px;
  border: solid;
  border-radius: 15px;
  border-color: lightgrey;
  padding: 5px;
  background-color: white;
  border-width: 0.5px;
}

.project:hover {
  border-color: var(--green);
  color: var(--blue);
  border-width: 1px;
}

.proj-img-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  max-width: 90%;
  height: 200px;
  margin: auto;
  border-radius: 15px;
}

.proj-img1 {
  width: 33%;
  height: 200px;
  object-fit: cover;
  margin: auto;
  position: absolute;
  z-index: 4;
  animation: xfade 20s -0s infinite;
  animation-timing-function: ease-in-out;
  border-radius: 15px;
}

.proj-img2 {
  width: 33%;
  height: 200px;
  object-fit: cover;
  margin: auto;
  position: absolute;
  z-index: 3;
  animation: xfade 20s -5s infinite;
  animation-timing-function: ease-in-out;
  border-radius: 15px;
}

.proj-img3 {
  width: 33%;
  height: 200px;
  object-fit: cover;
  margin: auto;
  position: absolute;
  z-index: 2;
  animation: xfade 20s -10s infinite;
  animation-timing-function: ease-in-out;
  border-radius: 15px;
}

.proj-img4 {
  width: 33%;
  height: 200px;
  object-fit: cover;
  margin: auto;
  position: absolute;
  z-index: 1;
  animation: xfade 20s -15s infinite;
  animation-timing-function: ease-in-out;
  border-radius: 15px;
}

@keyframes xfade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border-width: 0;
  background-color: var(--green);
}

button:hover {
  background-color: var(--blue);
  color: white;
}

.stack {
  display: flex;
  justify-content: center;
}

.technologies {
  text-align: center;
  width: 35%;
  max-width: 400px;
  height: 275px;
  margin: 10px;
  border: solid;
  border-radius: 15px;
  border-color: lightgrey;
  padding: 5px;
  background-color: white;
  border-width: 0.5px;
}

.technologies:hover {
  border-color: var(--green);
  color: var(--blue);
  border-width: 1px;
}

li {
  list-style: none;
  margin: 15px;
}

.background {
  display: flex;
  justify-content: center;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  max-width: 400px;
  height: 350px;
  margin: 10px;
  border: solid;
  border-radius: 15px;
  border-color: lightgrey;
  border-width: 0.5px;
  padding: 10px;
  background-color: white;
}

.experience:hover {
  border-color: var(--green);
  color: var(--blue);
  border-width: 1px;
}

.experience p {
  margin-top: 10px;
}

.recommendations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.rec {
  width: 65%;
  max-width: 700px;
  height: auto;
  margin: 15px;
  border-radius: 15px;
  border: solid;
  border-color: lightgrey;
  border-width: 0.5px;
}

.rec:hover {
  border-color: var(--green);
  border-width: 1px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  height: 275px;
  border-top: solid;
  border-color: lightgrey;
  background-color: var(--green);
  border-width: 1px;
}

.github, .linkedin, .email {
  width: auto;
  height: 25px;
  max-height: 25px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .link:hover {
  background-color: var(--blue);
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-urls li {
  text-align: left;
}

.footer-urls a {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.footer-urls a:hover {
  color: var(--blue);
}